=begin
#VictorOps API

#This API allows you to interact with the VictorOps platform in various ways. Your account may be limited to a total number of API calls per month. Also, some of these API calls have rate limits.  https protocol is required to use this API.  NOTE: In this documentation when creating a sample curl request (clicking the TRY IT OUT! button), in some API viewing interfaces, the '@' in an email address may be encoded. Please note that the REST endpoints will not process the encoded version. Make sure that the encoded character '%40' is changed to its unencoded form before submitting the curl request. 

OpenAPI spec version: 0.0.3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.19

=end

require 'uri'

module VictorOpsClient
  class NotesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the notes associated with an incident
    # Get notes any associated with a single incident with the provided incident number.  This API may be called a maximum of 2 times per second. 
    # @param x_vo_api_id Your API ID
    # @param x_vo_api_key Your API Key
    # @param incident_number The incident number
    # @param [Hash] opts the optional parameters
    # @return [Notes]
    def api_public_v1_incidents_incident_number_notes_get(x_vo_api_id, x_vo_api_key, incident_number, opts = {})
      data, _status_code, _headers = api_public_v1_incidents_incident_number_notes_get_with_http_info(x_vo_api_id, x_vo_api_key, incident_number, opts)
      data
    end

    # Get the notes associated with an incident
    # Get notes any associated with a single incident with the provided incident number.  This API may be called a maximum of 2 times per second. 
    # @param x_vo_api_id Your API ID
    # @param x_vo_api_key Your API Key
    # @param incident_number The incident number
    # @param [Hash] opts the optional parameters
    # @return [Array<(Notes, Fixnum, Hash)>] Notes data, response status code and response headers
    def api_public_v1_incidents_incident_number_notes_get_with_http_info(x_vo_api_id, x_vo_api_key, incident_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NotesApi.api_public_v1_incidents_incident_number_notes_get ...'
      end
      # verify the required parameter 'x_vo_api_id' is set
      if @api_client.config.client_side_validation && x_vo_api_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_vo_api_id' when calling NotesApi.api_public_v1_incidents_incident_number_notes_get"
      end
      # verify the required parameter 'x_vo_api_key' is set
      if @api_client.config.client_side_validation && x_vo_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_vo_api_key' when calling NotesApi.api_public_v1_incidents_incident_number_notes_get"
      end
      # verify the required parameter 'incident_number' is set
      if @api_client.config.client_side_validation && incident_number.nil?
        fail ArgumentError, "Missing the required parameter 'incident_number' when calling NotesApi.api_public_v1_incidents_incident_number_notes_get"
      end
      # resource path
      local_var_path = '/api-public/v1/incidents/{incidentNumber}/notes'.sub('{' + 'incidentNumber' + '}', incident_number.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-VO-Api-Id'] = x_vo_api_id
      header_params[:'X-VO-Api-Key'] = x_vo_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Notes')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotesApi#api_public_v1_incidents_incident_number_notes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Note
    # Delete a note.  This API may be called a maximum of 2 times per second. 
    # @param x_vo_api_id Your API ID
    # @param x_vo_api_key Your API Key
    # @param incident_number The incident number
    # @param note_name The html encoded name field of the note
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_public_v1_incidents_incident_number_notes_note_name_delete(x_vo_api_id, x_vo_api_key, incident_number, note_name, opts = {})
      api_public_v1_incidents_incident_number_notes_note_name_delete_with_http_info(x_vo_api_id, x_vo_api_key, incident_number, note_name, opts)
      nil
    end

    # Delete a Note
    # Delete a note.  This API may be called a maximum of 2 times per second. 
    # @param x_vo_api_id Your API ID
    # @param x_vo_api_key Your API Key
    # @param incident_number The incident number
    # @param note_name The html encoded name field of the note
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_public_v1_incidents_incident_number_notes_note_name_delete_with_http_info(x_vo_api_id, x_vo_api_key, incident_number, note_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NotesApi.api_public_v1_incidents_incident_number_notes_note_name_delete ...'
      end
      # verify the required parameter 'x_vo_api_id' is set
      if @api_client.config.client_side_validation && x_vo_api_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_vo_api_id' when calling NotesApi.api_public_v1_incidents_incident_number_notes_note_name_delete"
      end
      # verify the required parameter 'x_vo_api_key' is set
      if @api_client.config.client_side_validation && x_vo_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_vo_api_key' when calling NotesApi.api_public_v1_incidents_incident_number_notes_note_name_delete"
      end
      # verify the required parameter 'incident_number' is set
      if @api_client.config.client_side_validation && incident_number.nil?
        fail ArgumentError, "Missing the required parameter 'incident_number' when calling NotesApi.api_public_v1_incidents_incident_number_notes_note_name_delete"
      end
      # verify the required parameter 'note_name' is set
      if @api_client.config.client_side_validation && note_name.nil?
        fail ArgumentError, "Missing the required parameter 'note_name' when calling NotesApi.api_public_v1_incidents_incident_number_notes_note_name_delete"
      end
      # resource path
      local_var_path = '/api-public/v1/incidents/{incidentNumber}/notes/{noteName}'.sub('{' + 'incidentNumber' + '}', incident_number.to_s).sub('{' + 'noteName' + '}', note_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-VO-Api-Id'] = x_vo_api_id
      header_params[:'X-VO-Api-Key'] = x_vo_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotesApi#api_public_v1_incidents_incident_number_notes_note_name_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update a Note
    # Update a note.  This API may be called a maximum of 2 times per second. 
    # @param x_vo_api_id Your API ID
    # @param x_vo_api_key Your API Key
    # @param body 
    # @param incident_number The incident number
    # @param note_name The html encoded name field of the note
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_public_v1_incidents_incident_number_notes_note_name_put(x_vo_api_id, x_vo_api_key, body, incident_number, note_name, opts = {})
      api_public_v1_incidents_incident_number_notes_note_name_put_with_http_info(x_vo_api_id, x_vo_api_key, body, incident_number, note_name, opts)
      nil
    end

    # Update a Note
    # Update a note.  This API may be called a maximum of 2 times per second. 
    # @param x_vo_api_id Your API ID
    # @param x_vo_api_key Your API Key
    # @param body 
    # @param incident_number The incident number
    # @param note_name The html encoded name field of the note
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_public_v1_incidents_incident_number_notes_note_name_put_with_http_info(x_vo_api_id, x_vo_api_key, body, incident_number, note_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NotesApi.api_public_v1_incidents_incident_number_notes_note_name_put ...'
      end
      # verify the required parameter 'x_vo_api_id' is set
      if @api_client.config.client_side_validation && x_vo_api_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_vo_api_id' when calling NotesApi.api_public_v1_incidents_incident_number_notes_note_name_put"
      end
      # verify the required parameter 'x_vo_api_key' is set
      if @api_client.config.client_side_validation && x_vo_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_vo_api_key' when calling NotesApi.api_public_v1_incidents_incident_number_notes_note_name_put"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling NotesApi.api_public_v1_incidents_incident_number_notes_note_name_put"
      end
      # verify the required parameter 'incident_number' is set
      if @api_client.config.client_side_validation && incident_number.nil?
        fail ArgumentError, "Missing the required parameter 'incident_number' when calling NotesApi.api_public_v1_incidents_incident_number_notes_note_name_put"
      end
      # verify the required parameter 'note_name' is set
      if @api_client.config.client_side_validation && note_name.nil?
        fail ArgumentError, "Missing the required parameter 'note_name' when calling NotesApi.api_public_v1_incidents_incident_number_notes_note_name_put"
      end
      # resource path
      local_var_path = '/api-public/v1/incidents/{incidentNumber}/notes/{noteName}'.sub('{' + 'incidentNumber' + '}', incident_number.to_s).sub('{' + 'noteName' + '}', note_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-VO-Api-Id'] = x_vo_api_id
      header_params[:'X-VO-Api-Key'] = x_vo_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotesApi#api_public_v1_incidents_incident_number_notes_note_name_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new Note
    # Create a new note.  This API may be called a maximum of 2 times per second. 
    # @param x_vo_api_id Your API ID
    # @param x_vo_api_key Your API Key
    # @param body 
    # @param incident_number The incident number
    # @param [Hash] opts the optional parameters
    # @return [Notes]
    def api_public_v1_incidents_incident_number_notes_post(x_vo_api_id, x_vo_api_key, body, incident_number, opts = {})
      data, _status_code, _headers = api_public_v1_incidents_incident_number_notes_post_with_http_info(x_vo_api_id, x_vo_api_key, body, incident_number, opts)
      data
    end

    # Create a new Note
    # Create a new note.  This API may be called a maximum of 2 times per second. 
    # @param x_vo_api_id Your API ID
    # @param x_vo_api_key Your API Key
    # @param body 
    # @param incident_number The incident number
    # @param [Hash] opts the optional parameters
    # @return [Array<(Notes, Fixnum, Hash)>] Notes data, response status code and response headers
    def api_public_v1_incidents_incident_number_notes_post_with_http_info(x_vo_api_id, x_vo_api_key, body, incident_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NotesApi.api_public_v1_incidents_incident_number_notes_post ...'
      end
      # verify the required parameter 'x_vo_api_id' is set
      if @api_client.config.client_side_validation && x_vo_api_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_vo_api_id' when calling NotesApi.api_public_v1_incidents_incident_number_notes_post"
      end
      # verify the required parameter 'x_vo_api_key' is set
      if @api_client.config.client_side_validation && x_vo_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_vo_api_key' when calling NotesApi.api_public_v1_incidents_incident_number_notes_post"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling NotesApi.api_public_v1_incidents_incident_number_notes_post"
      end
      # verify the required parameter 'incident_number' is set
      if @api_client.config.client_side_validation && incident_number.nil?
        fail ArgumentError, "Missing the required parameter 'incident_number' when calling NotesApi.api_public_v1_incidents_incident_number_notes_post"
      end
      # resource path
      local_var_path = '/api-public/v1/incidents/{incidentNumber}/notes'.sub('{' + 'incidentNumber' + '}', incident_number.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-VO-Api-Id'] = x_vo_api_id
      header_params[:'X-VO-Api-Key'] = x_vo_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Notes')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotesApi#api_public_v1_incidents_incident_number_notes_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
